In [1]:
import pandas as pd

In [2]:
df_esg_tr = pd.read_csv("tr_esg_df_cleaned.csv")

df_info = pd.read_csv("comp_info_df.csv")

df_comp_fin = pd.read_csv("comp_financials.csv").rename(columns={"Unnamed: 0": "Year"})

In [3]:
df_comb = df_esg_tr.merge(df_comp_fin, on=["key", "Year"], how="left"
).merge(df_info, on=["key"], how="left").drop(columns=["Unnamed: 0_x", "Unnamed: 0_y"])

In [4]:
df_comb.head()

,Year,Total Return,ESG Score,ESG Combined Score,ESG Controversies Score,Social Pillar Score,Governance Pillar Score,Environmental Pillar Score,key,Revenue - Mean,...,ICB Industry name,ICB Sector name,GICS Industry Group Name,SIC Industry Name,TRBC Industry Name,TRBC Industry Group Name,TRBC Business Sector Name,TRBC Economic Sector Name,TSE33 Main sector name,NAICS Subsector Name
0,2002,-4.703688,10.732601,10.732601,100.0,16.469428,16.153846,0.000000,DK0010244508,1.029456e+10,...,Industrials,Industrial Transportation,Transportation,NaN,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials,NaN,Water Transportation
1,2003,78.725725,16.933543,16.933543,100.0,19.033531,34.523810,0.000000,DK0010244508,2.600826e+10,...,Industrials,Industrial Transportation,Transportation,NaN,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials,NaN,Water Transportation
2,2004,6.899061,17.855846,17.855846,100.0,20.465337,26.862745,7.523148,DK0010244508,3.097855e+10,...,Industrials,Industrial Transportation,Transportation,NaN,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials,NaN,Water Transportation
3,2005,45.463359,16.395483,16.395483,100.0,20.152244,17.166667,11.683007,DK0010244508,3.250909e+10,...,Industrials,Industrial Transportation,Transportation,NaN,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials,NaN,Water Transportation
4,2006,-17.550102,18.732474,18.732474,60.0,20.633013,25.500000,11.033951,DK0010244508,4.769541e+10,...,Industrials,Industrial Transportation,Transportation,NaN,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials,NaN,Water Transportation

In [5]:
df_comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78518 entries, 0 to 78517
Data columns (total 38 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   78518 non-null  int64
 1   Total Return                           78518 non-null  float64
 2   ESG Score                              78518 non-null  float64
 3   ESG Combined Score                     78518 non-null  float64
 4   ESG Controversies Score                78518 non-null  float64
 5   Social Pillar Score                    78518 non-null  float64
 6   Governance Pillar Score                78518 non-null  float64
 7   Environmental Pillar Score             78518 non-null  float64
 8   key                                    78518 non-null  object
 9   Revenue - Mean                         66392 non-null  float64
 10  Employees - Average                    8190 non-null   float64
 11  Earnings Per Share - Mean              66657 non-null  float64
 12  Return On Assets - Mean                51407 non-null  float64
 13  Return On Equity - Mean                61217 non-null  float64
 14  Volume                                 72492 non-null  float64
 15  Company Market Cap                     72523 non-null  float64
 16  Free Cash Flow - Mean                  37412 non-null  float64
 17  Weighted Average Cost of Capital, (%)  45325 non-null  float64
 18  EBITDA - Mean                          59919 non-null  float64
 19  Organic Sales Growth - Mean            4899 non-null   float64
 20  Instrument                             78449 non-null  object
 21  Country of Headquarters                78449 non-null  object
 22  Region of Headquarters                 78449 non-null  object
 23  NAICS National Industry Name           78441 non-null  object
 24  NAICS Industry Group Name              78441 non-null  object
 25  NAICS Sector Name                      78441 non-null  object
 26  GICS Sub-Industry Name                 76583 non-null  object
 27  GICS Industry Name                     76583 non-null  object
 28  ICB Industry name                      78364 non-null  object
 29  ICB Sector name                        78364 non-null  object
 30  GICS Industry Group Name               76583 non-null  object
 31  SIC Industry Name                      23452 non-null  object
 32  TRBC Industry Name                     78449 non-null  object
 33  TRBC Industry Group Name               78449 non-null  object
 34  TRBC Business Sector Name              78449 non-null  object
 35  TRBC Economic Sector Name              78449 non-null  object
 36  TSE33 Main sector name                 7013 non-null   object
 37  NAICS Subsector Name                   78441 non-null  object
dtypes: float64(18), int64(1), object(19)
memory usage: 23.4+ MB

In [6]:
df_comb.to_csv("merged_esg_df.csv")